<!DOCTYPE html>
<html xmlns:th="http://www.thyemeleaf.org">
<th:block th:fragment="footer">
	<div class="ui inverted vertical footer segment">
		<div class="ui container">
			<div
				class="ui stackable inverted divided equal height stackable grid">
				<div class="three wide column">
					<h4 class="ui inverted header">About</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">なにもない</a> <a href="#" class="item">なにもない</a> 
						<a href="#" class="item">なにもない</a> <a href="#"
							class="item">なにもない</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">Services</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">なにもない</a> <a href="#"
							class="item">なにもない</a> <a href="#" class="item">なにもない</a> <a href="#" class="item">なにもない</a>
					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header">Footer Header</h4>
					<p>なにもない</p>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
