<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="left_menu">
    <div class="ui vertical menu">
        <a class="teal item active">
            TODO
            <!--            <div class="ui teal left pointing label"></div>-->
        </a>
        <a class="item">
            プロジェクト
            <div class="ui label">(Pro)</div>
        </a>
        <a class="item">
            CSV登録
            <div class="ui label">(Pro)</div>
        </a>
    </div>
</th:block>
</html>