<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contents">
    <link rel="stylesheet" th:href="@{/staticfiles/css/todo_app/top.css}" />
    <div id="todo_top_box" class="ui container grid">
        <div class="four wide column">
            <th:block th:if="${left_menu}" th:include="__${left_menu}__"></th:block>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <!-- fragment化が必要 -->
                <form class="ui form" th:action="@{'/todo/'+${todo.id}+'/update'}" th:method="post" th:object="${todoForm}">
                      <div class="content">
                        <input type="hidden" name="todoId" th:value="${todo.id}">
                        <div class="field">
                            <label>件名</label>
                              <div class="field">
                                <input type="text" name="subject" placeholder="件名" th:value="${todo.subject}">
                              </div>
                        </div>
                        <div class="field">
                            <label>本文</label>
                            <div class="field">
                                <textarea name="body">[[${todo.body}]]</textarea>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="seven wide field">
                                <label>開始日</label>
                                <input type="date" name="start_date" required th:value="${#temporals.format(todo.startDate, 'yyyy-MM-dd')}">
                            </div>
                            <div class="six wide field">
                                <label>開始時刻</label>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="number" name="start_time_hour" step="1"min="0" max="24" required th:value="${#temporals.format(todo.startTime, 'HH')}">
                                    </div>
                                    <div class="field">
                                        <input type="number" name="start_time_minutes" step="1" min="0" max="59" required th:value="${#temporals.format(todo.startTime, 'mm')}">
                                    </div>
                                </div>
                            </div>
                            <div class="seven wide field">
                                <label>終了日</label>
                                <input type="date" name="end_date" th:value="${#temporals.format(todo.endDate, 'yyyy-MM-dd')}">
                            </div>
                            <div class="six wide field">
                                <label>終了時刻</label>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="number" name="end_time_hour" step="1"min="0" max="24" th:value="${#temporals.format(todo.endTime, 'HH')}">
                                    </div>
                                    <div class="field">
                                        <input type="number" name="end_time_minutes" step="1" min="0" max="59" th:value="${#temporals.format(todo.endTime, 'mm')}">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="fields">
                            <div class="field">
                                  <div class="inline field">
                                    <div class="ui checkbox">
                                      
                                      <input type="checkbox" name="completed" tabindex="0" class="hidden" th:checked="${todo.completed}">
                                      <label>完了状態</label>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <input type="submit" class="positive fluid ui button" value="更新">
                            
                        </div>
                    </div>
                </form>
                
                <form th:action="@{'/todo/'+${todo.id}+'/delete'}" method="post">
                    <input type="submit" class="ui right floated negative ui button" value="削除">
                </form>

            </div>
        </div>
        <script th:src="@{/staticfiles/js/todo/component-action.js}"></script>
        <script th:src="@{/staticfiles/js/todo/top.js}"></script>
</th:block>
</html>
